/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/docker/nginx/logs/access.log
/docker/nginx/logs/error.log
/docker/mysql/misc
/docker/mysql/logs/mysql-*
/docker/redis/misc
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
